.table1{
    width: 550px;
  
    
}
table, th, td {
    border: 1px dotted;
  }
  table {
    border-collapse: collapse;
  }

  table, th {
   height: 50px;
  }
.img1{
  padding: 5px;
  width: 370px;
  height:150px;
}